@media (prefers-color-scheme: light) {
  body {
      background-color: white;
      color: black;
  }
}

@media (prefers-color-scheme: dark) {
  body {
      background-color: black;
      color: white;
  }
}

.center-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 40px);
}

.bottom-box {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  padding-right: 10px;
}

body { 
  margin: 0;
}


